<div class="main-paragraph">
  <div class="main-title"><strong>Aplikacja frontend</strong></div><br/>
  Podaj liczbę i działanie do wykonania:


  <br/>
  <div class="form-group">
    <label for="operationSelect">Podaj operację do wykonania:</label>
    <ng-container *ngIf="availOperations | async as myVar">
    <select class="form-select" id="operationSelect" [(ngModel)]="selectedOperation">
      <option *ngFor="let op of myVar.allowedOperations" [value]="op">
        {{ op }}
    </option>
    </select>
    </ng-container>
  </div>
  <input class="form-control main-top-margin" type="text" placeholder="Podaj wartość numeryczną" [(ngModel)]="numericValue">
  <button (click)="onButtonPress()" [disabled]="isButtonEnabled()" class="btn btn-primary btn-rounded main-top-margin">Wyślij!!</button>


</div>